
@{
    ViewBag.Title = "EmployeeReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<script src="~/Scripts/EmployeeReport/EmployeeReport.js"></script>

<div class="jumbotron">
    Department Report
</div>

<div>
    <button class="btn btn-info" id="btnLoadReport">
        Load Report
    </button>

</div>


